@import url('https://fonts.googleapis.com/css2?family=Cuprum:ital,wght@1,500&display=swap');


#menu.grid {
    width: 60%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, minmax(200px, 1fr));
    gap: 20px;
    justify-items: center;
}

#grid-container {
    display: flex;
    padding-top: 50px;
    font-family: 'Cuprum', sans-serif;
}

.pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    font-size: 30px;
    margin-bottom: 200px;
}
  
  .pagination button {
    padding: 8px 15px;
    margin: 0 5px;
    background-color: #f4f4f4;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
    cursor: pointer;
  }
  
  .pagination button.active {
    background-color: #003554;
    color: #fff;
    border-color: #003554;
  }


