.order-info {
    display: grid;
    color: #d5d9de;
    border-radius: 2rem;
    grid-template-columns: repeat(7, 1fr);
    background-color: #003554;
    box-shadow: 9px 10px 10px -1px rgba(0, 53, 84, 0.77);
    -webkit-box-shadow: 9px 10px 10px -1px rgba(0, 53, 84, 0.77);
    -moz-box-shadow: 9px 10px 10px -1px rgba(0, 53, 84, 0.77);
    background-image: url('/public/images/bluewallDarken2.webp');
    /* background-position: 50% 35%; */
    background-repeat: no-repeat;
    background-size: cover;
    margin: 30px 0px 30px 0px;
    text-align: center;
    font-size: 1.5rem;
    padding: 10px;
    overflow: hidden;
    justify-items: center;
    align-items: center;
    perspective: 400px;
    opacity: 0;
    animation: slideIn 1s ease-in-out forwards;
}

@keyframes slideIn {
    from {
        opacity: 0;
        transform: translateX(100%);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.order-info .order-id {
    animation: glowing 2s ease-in-out infinite;
}

@keyframes glowing {
    0% {
        text-shadow: 0 0 5px #d5d9de;
    }

    50% {
        text-shadow: 0 0 10px #d5d9de;
    }

    100% {
        text-shadow: 0 0 5px #d5d9de;
    }
}

.order-info .order-username {
    white-space: nowrap;
}

.order-info .order-date,
.order-address,
.order-info .order-price,
.order-info .order-username {
    animation: levitate 3s ease-in-out infinite;
}

@keyframes levitate {
    0%, 100% {
        transform: translateY(0px);
    }

    50% {
        transform: translateY(-5px);
    }
}

.order-info .order-price {
    font-size: 2rem;
}

.order-info .accept {
    animation: wiggle 2s linear infinite;
}

.order-btns {
    display: flex;
    flex-direction: row;
}

.order-info .decline {
    margin-left: 10px;
    animation: wiggle 2s linear infinite;
    background-color: #540600;
}

.order-info .accept {
    background-color: #003554;
}

.order-info .unaccept {
    background-color: #003554;
}

.order-info .order-details {
    text-decoration: none;
    background-color: #4a4a4a;
}

.order-info .accept,
.order-info .unaccept,
.order-info .decline,
.order-info .order-details {
    border: none;
    color: #d5d9de;
    font-size: 1.5rem;
    padding: 10px 20px;
    border-radius: 1rem;
    cursor: pointer;
}

@keyframes wiggle {

    0%,
    7% {
        transform: rotateZ(0);
    }

    15% {
        transform: rotateZ(-15deg);
    }

    20% {
        transform: rotateZ(10deg);
    }

    25% {
        transform: rotateZ(-10deg);
    }

    30% {
        transform: rotateZ(6deg);
    }

    35% {
        transform: rotateZ(-4deg);
    }

    40%,
    100% {
        transform: rotateZ(0);
    }
}

