@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

#login {
    height: 100%;
    margin-top: 5%;
    overflow: hidden;
    padding-bottom: 120px;
    font-family: 'Lobster', cursive;
}

#login .center {
    display: flex;
    justify-content: center;
    align-items: center;
}

#login .login-form {
    background-image: url("../../../../public/images/FormWall3.png");
    background-size: cover;
    padding: 0px 60px;
    border-radius: 30px;
}

#login .login-form .title {
    text-align: center;
    color: #d5d9de;
    font-size: 50px;
}

#login .login-form .submit-btn {
    width: 100%;
    height: 50px;
    padding: 10px;
    border: none;
    background-color: #003554;
    color: #d5d9de;
    border-radius: 20px;
    font-weight: bold;
    font-size: 18px;
    cursor: pointer;
    margin-top: 20px;
    margin-bottom: 30px;
    font-family: 'Lobster', cursive;
}