@import url('https://fonts.googleapis.com/css2?family=Chela+One&display=swap');

.chat-inp-form {
    display: flex;
    flex-direction: row;
}

.chat-inp-container {
    flex-basis: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.chat-inp-form .chat-inp {
    flex-basis: 100%;
    border: none;
    border-radius: 1rem;
    font-size: 1.2rem;
    padding: 10px 20px;
    font-family: 'Chela One', cursive;
    margin-right: 10px;
}

.chat-inp-form .submit {
    border: none;
    padding: 10px 20px;
    border-radius: 1rem;
    cursor: pointer;
    font-size: 1.2rem;
    color: #d5d9de;
    background-color: #003554;
    font-family: 'Chela One', cursive;
    flex-basis: 10%;
    transition: transform 0.3s, box-shadow 0.3s;
    height: 43px;
}

.chat-inp-form .submit:hover {
    background-color: #003c5e;
    color: #e2e6ea;
    transform: translateY(-2px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.chat-inp-form .error {
    border: 4px solid rgb(217, 2, 2);
    
}

.chat-inp-form .span {
    font-size: 15px;
    color: rgb(217, 2, 2);
    border-radius: 20px;
    display: none;
    padding-top: 10px;
}

.chat-inp-form .chat-inp ~ .span {
    display: block;
}