@import url('https://fonts.googleapis.com/css2?family=Chela+One&display=swap');

#orders-container {
    width: 80%;
    font-family: 'Chela One', cursive;
    margin-top: 60px;
    margin-bottom: 200px;
}

#orders-container .order-info-row {
    background-color: #003554;
    color: #d5d9de;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    border-radius: 2rem;
    font-size: 1.5rem;
    text-align: center;
    box-shadow: 9px 10px 10px -1px rgba(0, 53, 84, 0.77);
    -webkit-box-shadow: 9px 10px 10px -1px rgba(0, 53, 84, 0.77);
    -moz-box-shadow: 9px 10px 10px -1px rgba(0, 53, 84, 0.77);
    background-image: url('/public/images/bluewallDarken.webp');
    background-position: 50% 20%;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 10px;
    justify-items: center;
    align-items: center;
}

#orders-container .order-info-row .order-column-name {
    text-shadow: 1.5px 1.5px #9ca0a3;
}

